/* El archivo layout.css se encarga de definir la estructura base de tu aplicación, como el sistema de grid, flexbox, contenedores, espaciados y alineaciones. Su objetivo es organizar los elementos de la página sin afectar su apariencia visual (colores, tipografías, etc.). */

/* Distribución general (fondo del body, display, flexbox, grid, alturas, anchos, etc.). */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: var(--black);
    color: var(--white);
}



/* .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
} */


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}


.header, .main, .footer {
    width: 100%;
    padding: 20px;
}


.margin-top {
    margin-top: 20px;
}
.margin-bottom {
    margin-bottom: 20px;
}
.padding {
    padding: 20px;
}