
<div class="banner-container">
  <div class="banner-content">
    <button class="banner-arrow left"><i class="fa-solid fa-chevron-left"></i></button>

    <div class="banner-text">
      <small class="banner-offer">OFERTA</small>
      <h1>COMPRA. GANA. VUELA.</h1>
      <p>Gana millas corp cuando compres en SenaCorp. Comprar nunca ha sido tan gratificante.</p>

      <div class="banner-details">
        <div class="banner-info">
          <i class="fa-regular fa-clock"></i>
          <div>
            <span>ABIERTO HOY </span>
            <p>10 AM – 12 AM</p>
          </div>
        </div>
        <div class="banner-info">
          <i class="fa-solid fa-map-marker-alt"></i>
          <div>
            <span>PLANEA TU VISITA</span>
            <p>Ver en el mapa</p>
          </div>
        </div>
      </div>

      <button class="banner-btn">MÁS INFORMACIÓN</button>
    </div>

    <button class="banner-arrow right"><i class="fa-solid fa-chevron-right"></i></button>
  </div>
</div>

