<section class="bienvenida">
  <div class="bienvenida__imagen"></div>
  <div class="bienvenida__contenido">
    <span class="bienvenida__subtitulo">AVENIDA DE LA MODA</span>
    <h1 class="bienvenida__titulo">REDEFINIENDO EL LUJO</h1>
    <p class="bienvenida__descripcion">
      Mas de 200 de las marcas de lujo mas codiciadas en la avenida de la moda listas para que las descubras.
    </p>
    <button class="bienvenida__boton">EXPLORA MÁS</button>
  </div>
</section>

<link rel="stylesheet" href="/frontend/public/css/components/bienvenida.css">
